@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

/* Apply the Ubuntu font to the body */
body {
  font-family: 'Ubuntu', sans-serif;
}
html, body{
  overflow-x: hidden;
}

/* Applying the custom font to the body */
body {
  font-family: 'Grundschrift', sans-serif;
}
/* Default Dark Mode */
:root {
  --body-color: rgb(9, 15, 20);
  --color-white: rgb(255, 255, 255);
  --text-color-second: rgb(255, 255, 255);
  --text-color-third: rgb(248, 238, 0);
  --icon-hover:rgb(165, 160, 3);
  --first-color: #007bff;
  --first-color-hover: rgb(40, 91, 212);
  --second-color: rgb(248, 238, 0);
  --third-color: rgb(248, 238, 0);
  --first-shadow-color: rgba(0, 0, 0, 0.1);
  --nav-color:rgba(0, 0, 0, 0.9);
  --icon_circle: url('images/clickme_yellow.png');
  --profile-image:url('images/charan.png');
  --profile_circle1: url('images/circle1.png');
  --profile_circle2: url('images/circle2.png');
  --profile_circle3: url('images/circle3.png');
}

/* Apply the dark mode colors to the body */
body {
  background-color: var(--body-color);
  color: var(--text-color-second);
  transition: background-color 0.3s, color 0.3s;
}

.nav-button {
  margin-left: 30px;
}
/* Default button styling */
input[type="checkbox"] {
  display: none;
}

.theme-toggle {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--first-color);
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-white);
  transition: .4s;
  border-radius: 50%;
}

input[type="checkbox"]:checked + .slider {
  background-color: var(--second-color);
}

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(26px);
}

/* Light Mode Styles */
body.light-mode {
  --body-color: #f0f0f0;
  --text-color-second: #333;
  --color-white: #ffffff;
  --first-color: #007bff;
  --first-color-hover: #0056b3;
  --text-color-third: rgb(239, 183, 1);
  --icon-hover:#004792;
  --second-color: rgb(239, 183, 1);
  --third-color: #007bff;
  --first-shadow-color: rgba(0, 0, 0, 0.15);
  --nav-color:rgba(255, 255, 255, 0.7);
  --text-shadow: 0 0 70px #e60073;
  --icon_circle: url('images/clickme_blue.png');
  --profile-image:url('images/charan2.png');
  --profile_circle1: url('images/lightcircle1.png');
  --profile_circle2: url('images/lightcircle2.png');
  --profile_circle3: url('images/lightcircle3.png');
}

body.light-mode {
  background-color: var(--body-color);
  color: var(--text-color-second);
}

body.light-mode button.theme-toggle {
  background-color: var(--first-color);
  color: var(--color-white);
}

body.light-mode button.theme-toggle:hover {
  background-color: var(--first-color-hover);
}

/* ----- BASE ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
/* ----- SMOOTH SCROLL ----- */
html {
  scroll-behavior: smooth;
}
/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
/* ---##-- REUSABLE CSS --##--- */
/* ----- GLOBAL BUTTON DESIGN ----- */
.btn {
  font-weight: 500;
  padding: 12px 20px;
  background: #efefef;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}
.btn > i {
  margin-left: 10px;
}
.btn:hover {
  background: var(--second-color);
  color: #000000;
}
/* ----- GLOBAL ICONS DESIGN ----- */
i {
  font-size: 16px;
}
/* ------- BASE -------- */
body {
  background: var(--body-color);
}
.container {
  width: 100%;
  position: relative;
}
/* ----- NAVIGATION BAR ----- */
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  line-height: 90px;
  background-color: var(--body-color);
  padding-inline: 10vw;
  transition: 0.3s;
  top:0;
  z-index: 100;
  left:0;
  
}
.nav-logo {
  position: relative;
}
.nav-name {
  font-size: 30px;
  font-weight: 600;
  color: var(--text-color-third);
  text-shadow: 2px 2px var(--first-shadow-color);;
}
.nav-logo span {
  position: absolute;
  top: -15px;
  right: -20px;
  font-size: 5em;
  color: var(--text-color-second);
}
.nav-menu,
.nav_menu_list {
  display: flex;
}
.nav-menu .nav_list {
  list-style: none;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: var(--text-color-second);
  font-weight: 500;
  border-radius: 5px;
  padding-inline: 10px;
  margin-inline: 12px;
  width:100%;
  text-align: center;
}
.nav-link:hover {
  color: var(--first-color-hover);
}
.nav-menu-btn {
  display: none;
}
.nav-menu-btn i {
  font-size: 28px;
  cursor: pointer;
}
.active-link {
  position: relative;
  background-color: var(--text-color-third);
  transition: background-color 0.3s ease;
  color: var(--body-color);
  /* border-radius: 15px; */
  padding: 10px, 20px;
}
.nav-button {
  position: relative;
  top:10px;
  left:0;
}
/* .active-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: var(--first-color);
  border-radius: 50%;
} */
/* ----- WRAPPER DESIGN ----- */
.wrapper {
  padding-inline: 10vw;
}
/* ----- FEATURED BOX ----- */
.featured-box {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 700px;
  padding-block: 5em;
  margin: auto;
}
/* ----- FEATURED TEXT BOX ----- */
.featured-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
  flex-direction: column;
  width: 50%;
  padding-left: 20px;
}
.featured-text-card span {
  background: var(--third-color);
  color: var(--color-white);
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 5px;
}
.featured-name {
  font-size: 50px;
  font-weight: 600;
  color: var(--text-color-second);
  margin-block: 20px;
}
.typedText {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.featured-text-info {
  font-size: 15px;
  margin-bottom: 30px;
  color: var(--text-color-second);
}
.featured-text-btn {
  display: flex;
  gap: 20px;
}
.featured-text-btn > .blue-btn {
  background: var(--first-color);
  color: var(--color-white);
}
.featured-text-btn > .blue-btn:hover {
  background: var(--first-color-hover);
}
.social_icons {
  display: flex;
  margin-top: 5em;
  gap: 30px;
}

.icon {
  display: inline-block;
  width: 70px;  /* Adjust based on desired size */
  height: 70px;
  position: relative;
  overflow: hidden;  /* Hide overflow to ensure only the circle appears */
  text-align: center;
  line-height: 70px;  /* Vertically align the icon */
  font-size: 32px;  /* Adjust icon size */
  color: var(--text-color-second);  /* Icon color */
  transition: color 0.3s ease;  /* Smooth transition for icon color */
}

.icon i {
  position: relative;
  z-index: 2;  /* Ensure the icon is on top of the circle */
  font-size: 20px;
}

.icon::after {
  content: '';
  position: absolute;
  top: 40px;
  left: 35px;
  width: 90%;  /* Circle covers the full container */
  height: 90%;
  background-image: var(--icon_circle);
  background-size: contain;  /* Ensure the circle fits inside the container */
  background-position: center;
  opacity: 0;  /* Start the circle invisible */
  transform: translate(-50%, -50%) rotate(0deg);  /* Center the circle */
  transition: opacity 0.3s ease, transform 0.5s ease;  /* Transition for rotation and fade in */
  z-index: 1;  /* Ensure the circle is below the icon */
}

.icon:hover {
  color: var(--third-color);  /* Change icon color on hover */
}

.icon:hover::after {
  opacity: 1;  /* Make the circle semi-transparent on hover */
  transform: translate(-50%, -50%) rotate(360deg);  /* Rotate the circle */
}

/* ----- FEATURED IMAGE BOX ----- */ 
/* Styling for the container */
.image-container {
  position: relative;
  margin: auto 0;
  width: 100%;
  height: auto;
  top:100px;
  border-radius: 50%;
  overflow: visible;
}

/* Avatar image */


/* Circle images */
.charan, .circle1-img, .circle2-img, .circle3-img {
  position: absolute;
  border-radius: 50%;
  top: 50px;
  width: 500px; /* Adjust as needed */
  height: 500px; /* Adjust as needed */
  opacity: 0.8; /* Adjust transparency if needed */
  z-index: 1; /* Behind the avatar */
}

.circle1-img{
  animation: rotate1 4s infinite linear; /* Rotate animation */
}
.circle2-img {
  animation: rotate 6s infinite linear; /* Rotate animation */
}
.circle3-img {
  animation: rotate2 8s infinite linear; /* Rotate animation */
}

/* Define animations for circles */
@keyframes rotate1 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes rotate {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@keyframes rotate2 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.scroll-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  gap: 5px;
  text-decoration: none;
  color: var(black);
  background: var(--color-white);
  border-radius: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.scroll-btn i {
  font-size: 20px;
}
/* ----- MAIN BOX ----- */
.section {
  padding-block: 5em;
}
.row {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;
}
.col {
  display: flex;
  width: 50%;
}
/* -- ## --- RESUABLE CSS -- ## -- */
.top-header {
  text-align: center;
  margin-bottom: 5em;
}
.top-header h1 {
  font-weight: 600;
  color: var(--text-color-second);
  margin-bottom: 10px;
}
.top-header span {
  color: #999;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-bottom: 15px;
}
/* ----- ABOUT INFO ----- */
.about-info {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 30px 70px;
  padding-inline: 20px;
  width: 100%;
  background: var(--color-white);
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  border-radius: 20px;
}
.about-info p {
  text-align: center;
  font-size: 15px;
  color: #777;
}
.about-btn button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: var(--first-color);
  color: var(--color-white);
  border-radius: 30px;
}
.about-btn button:hover {
  background: var(--first-color-hover);
}

/* ----- ABOUT / SKILLS BOX ----- */
.skills-box {
  margin: 10px;
}
.skills-header {
  margin-bottom: 10px;
}
.skills {
  color: var(--text-color-second);
}
.skills-list {
  /* background-color: #efefef; */
  /* border-radius: 20px; */
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.skill-box {
  width :auto;
  margin: 0px;
  color: var(--third-color);
  padding: 5px;
  text-align: center;
}

.skills-list :hover {
  color: var(--icon-hover);

}


.skill-box > i {
  font-size: 50px;
}

.ph--certificate-duotone {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cg fill='%23000'%3E%3Cpath d='M224 56v34.06a44 44 0 1 0-56 67.88V192H40a8 8 0 0 1-8-8V56a8 8 0 0 1 8-8h176a8 8 0 0 1 8 8' opacity='0.2'/%3E%3Cpath d='M128 136a8 8 0 0 1-8 8H72a8 8 0 0 1 0-16h48a8 8 0 0 1 8 8m-8-40H72a8 8 0 0 0 0 16h48a8 8 0 0 0 0-16m112 65.47V224a8 8 0 0 1-12 7l-24-13.74L172 231a8 8 0 0 1-12-7v-24H40a16 16 0 0 1-16-16V56a16 16 0 0 1 16-16h176a16 16 0 0 1 16 16v30.53a51.88 51.88 0 0 1 0 74.94M160 184v-22.53A52 52 0 0 1 216 76V56H40v128Zm56-12a51.88 51.88 0 0 1-40 0v38.22l16-9.16a8 8 0 0 1 7.94 0l16 9.16Zm16-48a36 36 0 1 0-36 36a36 36 0 0 0 36-36'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.nimbus--briefcase {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M15 3.75h-3.49L11.11 2a1 1 0 0 0-1-.77H6A1 1 0 0 0 5 2l-.4 1.73H1a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-9a1 1 0 0 0-1-.98M6.17 2.5h3.76l.29 1.25H5.88zM14.75 5v2.5H1.25V5zm-13.5 8.5V8.75H6V9a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.25h4.75v4.75z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.project-container,
.certificate-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.project-box,
.certificate-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;  /* Adjust the size for a perfect circle */
  height: 300px;  /* Same width and height for the circle */
  background: var(--color-white);
  border-radius: 50%;  /* Makes the box circular */
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  overflow: hidden;
  transition: 0.4s;
}

.project-box > i {
  font-size: 50px;
  color: var(--first-color);
  margin-bottom: 10px;
}

.project-box > h3 {
  font-size: 18px;
  color: #333;
  z-index: 2;
  text-align: center;
}

.project-box > label {
  font-size: 15px;
  color: #777;
  z-index: 2;
}

.certificate-box > i {
  font-size: 50px;
  color: var(--first-color);
  margin-bottom: 10px;
}

.certificate-box > h3 {
  font-size: 18px;
  color: #333;
  z-index: 2;
  text-align: center;
}

.certificate-box > a {
  font-size: 15px;
  color: #777;
  z-index: 2;
}

.project-box::after,
.contact-info::after,
.certificate-box::after {
  content: '';
  position: absolute;
  top: 50%;  /* Start from the middle */
  left: 50%;
  width: 0;
  height: 0;
  background: var(--second-color);
  border-radius: 50%;  /* Ensures the background remains circular */
  transition: all 0.4s ease;
  transform: translate(-50%, -50%);
  z-index: 1;
}


.project-box:hover::after,
.contact-info:hover::after,
.certificate-box:hover::after {
  width: 300%;  /* Expands to cover the entire circle */
  height: 300%;  /* Expands to cover the entire circle */
}

.project-box:hover i,
.project-box:hover h3,
.project-box:hover label {
  color: black;  /* Changes text and icon color to white on hover */
  z-index: 2;
}

.certificate-box:hover i,
.certificate-box:hover h3,
.certificate-box:hover label {
  color: black;  /* Changes text and icon color to white on hover */
  z-index: 2;
}

/* ----- CONTACT BOX ----- */
.contact-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* padding: 40px 30px; */
  width: 300px;
  height: 300px;
  background: var(--second-color);
  border-radius: 50%;
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  overflow: hidden;
  margin: auto;
  transition: 0.4s;
}
.contact-info > h2 {
  color: black;
  margin-bottom: 20px;
}
.contact-info > p {
  display: flex;
  text-align: center;
  /* justify-content: center;  */
  gap: 10px;
  font-size: 12px;
  color: black;
  /* margin-block: 5px; */
}
.contact-info p > i {
  font-size: 12px;
}
.contact-info::after {
  background: var(--color-white);
}
.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i {
  color: #777;
  z-index: 2;
}

/* ----- FOOTER BOX ----- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  background: #f8f8f8;
  padding-block:  40px;
  border-radius: 10px;
  
}
.top-footer p {
  font-size: 25px;
  color: black;
  font-weight: 600;
}
.middle-footer .footer-menu {
  display: flex;
}
.footer_menu_list {
  list-style: none;
}
.footer_menu_list a {
  text-decoration: none;
  color: var(--first-color);
  font-weight: 500;
  margin-inline: 10px;
}
.footer-social-icons {
  display: flex;
  gap: 30px;
  color: black;
}
.bottom-footer {
  font-size: 14px;
  margin-top: 10px;
  color: black;
  text-align: center;
}
/* Center the .contact-info element */

/* Responsive design */


/* ----- MEDIA QUERY == 1024px / RESPONSIVE ----- */
@media only screen and (max-width: 1024px) {
  .featured-text {
    padding: 0;
  }
  .image,
  .image img {
    width: 320px;
    height: 320px;
  }
}
/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */
@media only screen and (max-width: 900px) {
  
  .nav-menu.responsive {
    left: 0;
  }
  .nav-menu {
    position: fixed;
    top: 80px;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--nav-color);
    backdrop-filter: blur(20px);
    width: 100%;
    min-height: 450px;
    height: 90vh;
    transition: 0.3s;
  }
  .nav_menu_list {
    flex-direction: column;
  }
  .nav-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .featured-box {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  .featured-text {
    width: 100%;
    order: 2;
    justify-content: center;
    align-content: flex-start;
    min-height: 60vh;
  }
  .social_icons {
    margin-top: 2em;
  }
  .featured-image {
    order: 1;
    justify-content: center;
    min-height: 550px;
    width: 100%;
    margin-top: 65px;
  }
  .image,
  .image img {
    width: 150px;
    height: 150px;
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .col {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-info,
  .contact-info {
    width: 100%;
  }
  .project-container,
  .certificate-container {
    justify-content: center;
    gap:80px;
  }
  .project-box,
  .certificate-box,
  .contact-info {
    width: 400px;
    height: 400px;
    
  }
  .charan, .circle1-img, .circle2-img, .circle3-img {
    
    width: 100%;
    height: auto;
    
  }
}
/* ----- MEDIA QUERY == 340px to 700 / RESPONSIVE ----- */
@media only screen and (min-width: 340px) and (max-width: 700px) {
  .wrapper {
    padding-inline: 5vw;
  }
  .nav-name{
    font-size: medium;
  }
  .featured-name {
    font-size: 40px;
  }
  
  .form-inputs {
    flex-direction: column;
  }
  .input-field {
    width: 100%;
  }
  .featured-box{
    flex-direction: column;
  }
  .featured-image {
    order: 1;
    justify-content: center;
    min-height: 420px;
    width: 100%;
    margin-top: 0;
    /* margin-left: -120px; */
  }
  
  .charan, .circle1-img, .circle2-img, .circle3-img {
    
    width: 100%;
    height: auto;
    
  }
  
  .project-box, .certificate-box, .contact-info{
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  .middle-footer{
    display: none;
  }
  
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* Starting and ending point */
  }
  40% {
    transform: translateY(-30px); /* Moves up */
  }
  60% {
    transform: translateY(-15px); /* Moves down a bit */
  }
}

.bounce {
  animation: bounce 1.5s ease-in-out; /* Adjust duration for better effect */
}

.proicons--css {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='m20.754 4.792l-2.84 14.31a1.5 1.5 0 0 1-1.099 1.161l-4.442 1.141a1.5 1.5 0 0 1-.746 0l-4.442-1.14a1.5 1.5 0 0 1-1.098-1.162L3.246 4.792A1.5 1.5 0 0 1 4.717 3h14.566a1.5 1.5 0 0 1 1.471 1.792'/%3E%3Cpath d='M7.77 6.881h9.53l-8.63 5.577h6.225a1 1 0 0 1 .978 1.205l-.562 2.683a1 1 0 0 1-.653.74l-2.283.786a1 1 0 0 1-.66-.003L8.99 16.9'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.icon-park-outline--html-five {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none' stroke='%23000' stroke-width='3'%3E%3Cpath d='M37.804 5H10.196a2 2 0 0 0-1.991 2.187l2.688 28.666a2 2 0 0 0 1.153 1.63l11.116 5.13a2 2 0 0 0 1.676 0l11.116-5.13a2 2 0 0 0 1.154-1.63l2.687-28.666A2 2 0 0 0 37.804 5Z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M32 12H16l1 9h14l-1 11l-6 3l-6-3l-.5-5'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.fluent--javascript-16-regular {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M8.5 7.5A1.5 1.5 0 0 1 10 6h1.5a.5.5 0 0 1 0 1H10a.5.5 0 0 0-.5.5V8a.5.5 0 0 0 .5.5h.5A1.5 1.5 0 0 1 12 10v.5a1.5 1.5 0 0 1-1.5 1.5H9a.5.5 0 0 1 0-1h1.5a.5.5 0 0 0 .5-.5V10a.5.5 0 0 0-.5-.5H10A1.5 1.5 0 0 1 8.5 8zm-.5-1a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5h-1a.5.5 0 0 0 0 1h1A1.5 1.5 0 0 0 8 10.5zm-6-2A2.5 2.5 0 0 1 4.5 2h7A2.5 2.5 0 0 1 14 4.5v7a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 11.5zM4.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.hugeicons--bootstrap {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='%23000'%3E%3Cpath d='M12.882 12c1.17 0 2.118.895 2.118 2s-.948 2-2.118 2H10.6c-.754 0-1.131 0-1.366-.234C9 15.53 9 15.154 9 14.4V12m3.882 0c1.17 0 2.118-.895 2.118-2s-.948-2-2.118-2H10.6c-.754 0-1.131 0-1.366.234C9 8.47 9 8.846 9 9.6V12m3.882 0H9'/%3E%3Cpath d='M22 12a2 2 0 0 1-2-2V8c0-3.31-.69-4-4-4H8c-3.31 0-4 .69-4 4v2a2 2 0 0 1-2 2m0 0a2 2 0 0 1 2 2v2c0 3.31.69 4 4 4h8c3.31 0 4-.69 4-4v-2a2 2 0 0 1 2-2'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.tabler--brand-django {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M3 6a3 3 0 0 1 3-3h12a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3z'/%3E%3Cpath d='M12 7v8.5l-2.015.201a2.715 2.715 0 1 1 0-5.402L12 10.5M16 7v.01M16 10v5.586c0 .905-.36 1.774-1 2.414'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.cib--mysql {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M21.875 7.568c-.156 0-.26.021-.365.047v.016h.016c.073.135.193.24.286.365c.073.141.135.286.203.427l.021-.021c.125-.089.188-.229.188-.443c-.052-.063-.063-.13-.109-.188c-.052-.089-.167-.135-.24-.203M7.693 25.161H6.459a70 70 0 0 0-.359-5.88h-.01l-1.88 5.88h-.943l-1.865-5.88h-.016a99 99 0 0 0-.26 5.88H.001a75 75 0 0 1 .547-7.375h1.531l1.781 5.417h.01l1.797-5.417h1.458q.486 4.032.573 7.375zm5.354-5.442c-.5 2.729-1.167 4.714-1.984 5.948q-.968 1.43-2.115 1.432q-.303 0-.755-.188v-.656c.151.021.323.036.516.036c.359 0 .646-.104.865-.297q.39-.36.391-.807c0-.208-.099-.625-.307-1.26l-1.349-4.208h1.214l.969 3.146c.219.719.313 1.214.271 1.5c.536-1.417.906-2.969 1.115-4.646zm16.437 5.442h-3.51v-7.375h1.182v6.469h2.328zm-4.427.178l-1.354-.667q.18-.147.339-.333c.578-.672.865-1.677.865-3q0-3.663-2.875-3.661q-1.408-.002-2.198.927c-.573.677-.865 1.677-.865 2.995c0 1.297.255 2.245.766 2.854c.469.542 1.172.818 2.115.818q.525.001.964-.13l1.766 1.031l.484-.833zm-4.39-1.657c-.302-.479-.448-1.25-.448-2.313q-.001-2.787 1.693-2.786c.589 0 1.026.224 1.302.667c.297.484.448 1.245.448 2.297c0 1.87-.568 2.813-1.693 2.813c-.594 0-1.026-.224-1.307-.667zm-2.209-.562c0 .625-.229 1.141-.693 1.536c-.458.401-1.068.604-1.844.604c-.724 0-1.417-.229-2.099-.688l.318-.635c.583.292 1.109.438 1.589.438q.666-.001 1.042-.292c.25-.198.401-.474.401-.823c0-.438-.307-.813-.865-1.125c-.516-.286-1.552-.875-1.552-.875c-.563-.411-.839-.849-.839-1.573q0-.897.625-1.443c.422-.375.958-.557 1.625-.557a3.37 3.37 0 0 1 1.87.547l-.286.635a3.6 3.6 0 0 0-1.417-.307q-.57.002-.875.276c-.305.274-.328.411-.328.698c0 .438.313.813.885 1.135c.526.286 1.583.891 1.583.891c.578.406.865.844.865 1.557zm12.506-7.807c-.714-.016-1.266.057-1.729.255c-.13.052-.344.052-.365.219c.073.073.083.188.146.286c.109.177.292.417.464.542c.188.146.375.292.568.417c.349.214.74.339 1.083.552c.193.125.391.286.583.417c.099.068.161.188.286.229v-.026c-.063-.078-.078-.193-.141-.286c-.089-.089-.177-.167-.266-.255a4.2 4.2 0 0 0-.927-.901c-.286-.193-.911-.464-1.026-.792l-.016-.021c.193-.016.422-.089.609-.141c.302-.078.583-.063.896-.141a7 7 0 0 0 .427-.125v-.078c-.161-.161-.281-.38-.448-.531a12 12 0 0 0-1.469-1.094c-.281-.182-.635-.297-.932-.448c-.104-.052-.286-.078-.344-.167c-.161-.198-.255-.453-.37-.688a24 24 0 0 1-.729-1.552c-.161-.349-.255-.693-.453-1.016c-.917-1.516-1.917-2.432-3.448-3.333c-.328-.188-.724-.266-1.141-.365c-.224-.01-.443-.026-.667-.036c-.146-.063-.286-.229-.411-.313c-.51-.323-1.823-1.016-2.193-.099c-.24.583.354 1.151.563 1.443c.151.208.344.438.453.667c.063.156.078.318.141.479c.141.391.276.828.464 1.193c.099.188.203.385.328.552c.073.099.198.141.224.302c-.125.182-.135.448-.203.667c-.323 1.01-.198 2.255.255 3c.146.224.484.714.938.526c.401-.161.313-.667.427-1.115c.026-.109.01-.177.063-.25v.021c.13.25.255.49.37.74c.271.438.755.891 1.156 1.193c.214.161.38.438.646.536v-.026h-.021c-.057-.078-.13-.115-.203-.177a5 5 0 0 1-.469-.536c-.37-.5-.703-1.052-.995-1.62a11 11 0 0 1-.385-.859c-.052-.104-.052-.266-.141-.318c-.135.193-.333.359-.427.604c-.172.38-.188.854-.255 1.344c-.031.01-.016 0-.031.021c-.286-.073-.385-.365-.49-.615c-.271-.635-.313-1.651-.083-2.38c.063-.188.328-.776.224-.953c-.057-.172-.234-.271-.328-.406c-.12-.167-.24-.38-.323-.568c-.214-.5-.318-1.052-.552-1.552c-.104-.229-.292-.469-.443-.682c-.172-.24-.359-.411-.49-.693c-.047-.099-.109-.26-.036-.365c.016-.073.052-.099.125-.12c.115-.099.448.026.563.083c.328.13.604.255.88.443c.125.089.26.255.422.302h.188c.286.063.604.016.87.099c.474.151.901.37 1.286.609a7.96 7.96 0 0 1 2.776 3.052c.109.203.156.391.255.604c.182.443.417.885.604 1.307s.365.849.635 1.198c.135.188.667.286.911.38c.177.083.453.156.609.25c.307.188.609.401.896.609c.146.099.589.323.615.5z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.simple-icons--mongodb {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M17.193 9.555c-1.264-5.58-4.252-7.414-4.573-8.115c-.28-.394-.53-.954-.735-1.44c-.036.495-.055.685-.523 1.184c-.723.566-4.438 3.682-4.74 10.02c-.282 5.912 4.27 9.435 4.888 9.884l.07.05A74 74 0 0 1 11.91 24h.481a29 29 0 0 1 .51-3.07c.417-.296.604-.463.85-.693a11.34 11.34 0 0 0 3.639-8.464c.01-.814-.103-1.662-.197-2.218m-5.336 8.195s0-8.291.275-8.29c.213 0 .49 10.695.49 10.695c-.381-.045-.765-1.76-.765-2.405'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.flowbite--react-solid {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23000'%3E%3Cpath d='M21.718 12c0-1.429-1.339-2.681-3.467-3.5c.029-.18.077-.37.1-.545c.217-2.058-.273-3.543-1.379-4.182c-1.235-.714-2.983-.186-4.751 1.239C10.45 3.589 8.7 3.061 7.468 3.773c-1.107.639-1.6 2.124-1.379 4.182c.018.175.067.365.095.545c-2.127.819-3.466 2.071-3.466 3.5s1.339 2.681 3.466 3.5c-.028.18-.077.37-.095.545c-.218 2.058.272 3.543 1.379 4.182c.376.213.803.322 1.235.316a6 6 0 0 0 3.514-1.56a6 6 0 0 0 3.515 1.56a2.44 2.44 0 0 0 1.236-.316c1.106-.639 1.6-2.124 1.379-4.182c-.019-.175-.067-.365-.1-.545c2.132-.819 3.471-2.071 3.471-3.5m-6.01-7.548a1.5 1.5 0 0 1 .76.187c.733.424 1.055 1.593.884 3.212c-.012.106-.043.222-.058.33q-1.263-.365-2.57-.523a16 16 0 0 0-1.747-1.972a4.9 4.9 0 0 1 2.731-1.234m-7.917 8.781c.172.34.335.68.529 1.017s.395.656.6.969a14 14 0 0 1-1.607-.376a14 14 0 0 1 .478-1.61m-.479-4.076a14 14 0 0 1 1.607-.376q-.308.468-.6.969c-.195.335-.357.677-.529 1.017q-.286-.79-.478-1.61M8.3 12a19 19 0 0 1 .888-1.75q.496-.852 1.076-1.65c.619-.061 1.27-.1 1.954-.1q1.025.001 1.952.1a20 20 0 0 1 1.079 1.654q.488.851.887 1.746a19 19 0 0 1-1.953 3.403a19.2 19.2 0 0 1-3.931 0a20 20 0 0 1-1.066-1.653A19 19 0 0 1 8.3 12m7.816 2.25c.2-.337.358-.677.53-1.017q.286.791.478 1.611a15 15 0 0 1-1.607.376c.202-.314.404-.635.597-.97zm.53-3.483c-.172-.34-.335-.68-.53-1.017a20 20 0 0 0-.6-.97q.814.142 1.606.376a14 14 0 0 1-.478 1.611zM12.217 6.34q.6.563 1.13 1.193q-.555-.031-1.129-.033c-.574-.002-.76.013-1.131.033q.53-.63 1.13-1.193m-4.249-1.7a1.5 1.5 0 0 1 .76-.187a4.9 4.9 0 0 1 2.729 1.233A16 16 0 0 0 9.71 7.658q-1.306.158-2.569.524c-.015-.109-.047-.225-.058-.331c-.171-1.619.151-2.787.885-3.211M3.718 12c0-.9.974-1.83 2.645-2.506c.218.857.504 1.695.856 2.506c-.352.811-.638 1.65-.856 2.506C4.692 13.83 3.718 12.9 3.718 12m4.25 7.361c-.734-.423-1.056-1.593-.885-3.212c.011-.106.043-.222.058-.331q1.262.365 2.564.524a16.4 16.4 0 0 0 1.757 1.982c-1.421 1.109-2.714 1.488-3.494 1.037m3.11-2.895q.56.033 1.14.034q.58-.001 1.139-.034a14 14 0 0 1-1.14 1.215a14 14 0 0 1-1.139-1.215m5.39 2.895c-.782.451-2.075.072-3.5-1.038a16 16 0 0 0 1.757-1.981a16.4 16.4 0 0 0 2.565-.523c.015.108.046.224.058.33c.175 1.619-.148 2.789-.88 3.212m1.6-4.854A16.6 16.6 0 0 0 17.216 12q.529-1.22.856-2.507c1.671.677 2.646 1.607 2.646 2.507s-.975 1.83-2.646 2.507z'/%3E%3Cpath d='M12.215 13.773a1.792 1.792 0 1 0-1.786-1.8v.006a1.787 1.787 0 0 0 1.786 1.794'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}